@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
}

body {
  font-family: "Roboto Condensed" san-serif;
}

/***Navbar***/

.navbar-brand {
  color: var(--primary-white) !important;
}

/*Links*/
nav a.nav-link {
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}