@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fffFFF;
  --primary-yellow: #fdd51b;
  --primary-dark: rgba(33,37,41,255);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-light-grey: #f4f4f4;
  --primary-dark-grey: #666666;
  --primary-green: rgb(16, 170, 16);
  
}

body {
  font-family: "Roboto Condensed", san-serif !important;
}


/*****Navbar Section*****/

nav {
  z-index:2;
}
.navbar-brand {
  color: var(--primary-white) !important;
  text-transform: uppercase;
}

/*Logo*/
.logo{
  width: 23.5rem;
}

/*Links*/
nav a.nav-link {
  font-size: 0.75rem;
  letter-spacing: 0.6px;
  cursor: pointer;
  border-top: 0.18rem solid var(--primary-dark);
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 1.5rem;
}

.navabar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 0.18rem solid var(--primary-yellow);
   
}

.navbar-nav >li > a:hover {
  border-top: 0.18rem solid var(--primary-yellow);
}

/*hamburger menu*/
.navbar-collapse {
  flex-grow: 0 !important;
  justify-content: end;
}
.navbar-toggler {
  margin-top: 1.4rem;
}

/*****Header Section*****/

.header-wraper{
  position: relative;
  background: url(background.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-yellow);
  text-transform: uppercase;
  font-weight: bold;
}
/*Typed text*/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  margin-top: 1rem;
}

/*button*/
.btn-main{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.3rem 0.4rem 0.4rem 0.4rem;
  color: var(--primary-white);
  text-decoration: none;
  margin: 2rem;
}

.btn-main:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color:var(--primary-white);
  transition: .2s ease-in-out;
}

/*Particles js*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/******About Me Section*****/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 20rem;
  margin-top: -3.5rem; 
}

.about-me {
  color: var(--primary-yellow);
  text-transform: uppercase;
  font-weight: bold;
}

/*****Portfolio Section*****/

.portfolio-wrapper {
  background: var(--primary-light-grey);
  padding-bottom: 4rem;
  margin-bottom: 0;
  
}

.portfolio-wrapper h1 {
  font-weight: bold;
}

.portfolio-content{
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  
}

.carousel .slide img {
  width: 100% !important;
  height: 360px;
  object-fit: cover;
  border-radius: 0.5rem; 
}

.carousel h3 {
  color:var(--primary-dark);
  font-weight: 600;
  margin-top: 2%;
  
}

.carousel a {
  text-decoration: none;
}

.carousel-root{
  border: 0.15rem solid var(--primary-yellow);
  border-radius: 0.5rem;
  box-shadow: inset 0px 0px 10px var(--primary-dark-grey), 0 0 15px var(--primary-dark);
  cursor: pointer;
}

/*****Contact Me Section*****/

.contactMe {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contactMe h1 {
  color: var(--primary-yellow);
  padding: 1.3rem;
  text-transform: uppercase;
}

.contactMe p {
  color: var(--primary-light-grey);
  font-size: 1.2rem ;
}

/*input*/

.contactMe input, .contactMe textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid var(--primary-light-grey);
  border-radius: 0;
  color: var(--primary-dark-grey);
  outline: 0 !important;
  box-shadow: none;
  top: 0;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contactMe .container {
  padding: 4rem 0;
}

.contactMe input:focus, .contactMe textarea:focus {
  background: transparent;
  color: var(--primary-yellow);
  border-bottom: 2px solid var(--primary-light-grey);
  outline: none !important;
  box-shadow: none;
}

.contactMe textarea {
  height: 17rem !important;
}

.contactMe button {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line{
  position: relative;
  top: -2.1rem;
  width: 0;
  height: 2px;
  background: var(--primary-yellow);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input .form-control {
  margin: -0.3rem 0 !important;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-red);
  text-align: left;
}

.success-message {
  
  color: var(--primary-green);
}


/*****Footer Section*****/

.footer {
  background: black;
  color: var(--primary-dark-grey);
  padding-top: 2rem;
  position: relative;
  background: url(footer.png) no-repeat;
  background-size: cover;
  background-position: center;
  
}

.footer a {
  text-decoration: none;
  color: var(--primary-light-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-yellow);
  cursor: pointer;
}

.copyRights {
  margin-top: 2rem !important;
  color: var(--primary-yellow);
}

.col {
  padding: 0 !important;
}

.mx-3 {
  border-radius: 5px;
  border: 2px solid var(--primary-yellow);
}

.col-lg-2 {
  margin-left: 3rem !important;
}

.pt-3 {
  padding-top: 0 !important;
}


/*****Media Section*****/

@media (max-width: 991px) {
  .navbar-nav > li > a {
    margin-left: 2.75rem;
    margin-top:0.2rem;
  }
}

@media (max-width: 768px) {
  /*Navbar*/
  .particles {
    display: none;
  }

  .main-info h1 {
    font-size: 1.7rem !important;
  }

  .typed-text {
    font-size: 1.3rem !important;
  }

  .navbar-brand {
    width: 7rem;
  }

  .logo {
    width: 15rem;
  }

  .navbar-toggler {
    margin-top: 1rem;
  }

  /*About Me*/

  .about-me {
    text-align: center;
    padding-bottom: 2%;
  }

  
 /*Contact Me*/

 /*remove scroll bar*/
 .contactMe {
   overflow-x: hidden;
 }
 .contactMe .container {
   padding: 0 1rem;
 }

 .contactMe p {
   padding: 0 1rem;
 }

}


@media (max-width: 576px) {
  /*AboutMe*/
.profile-img {
  width: 13rem;
}
}